<!DOCTYPE html>
<head>
    <script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.5/d3.min.js"></script>
    <script src="{{ url_for('static',filename='tipsy.js') }}"></script>
   
    <!--Select 2
    <link href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>-->
    
    <link href="{{ url_for('static',filename='style.css') }}" rel="stylesheet" />
    
</head>
<meta charset="utf-8">

<body>
<div id="fade"></div>
<div class="container" style="margin-left:5px;margin-right:5px">
    <div class="row">
       <div class="col-md-2" style="overflow:scroll; height:100vh">
          <!-- 
          <select id="termlist" style="width:300px; margin-bottom:10px">
              {% for behav,number,identifier,source in behaviors %}
              <option value="{{ identifier }}">{{ behav }}</option>
              {% endfor %}
           </select>-->
           <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
              {% for behav,number,identifier,source in behaviors %}
               <div id="id{{ identifier }}"></div>
               <div class="panel panel-default">
   <div class="panel-heading" role="tab" id="heading{{ number }}">
   <h4 class="panel-title">
       <a role="button" data-toggle="collapse" data-parent="#accordion" href="#{{ identifier }}" aria-expanded="false" aria-controls="{{ identifier }}">{{ behav }}</a>
   </h4>
   </div>
   <div id="{{ identifier }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{ number }}">
       <div class="panel-body">
       <a href="/download/{{ identifier }}" target="_blank">download</a> | <a href="/view/{{ identifier }}">view</a> | {{ source }}
       </div>
   </div>
              </div>
             {% endfor %}
           </div>


       </div>
       <div id="trait" class="col-md-8">
           <h1>{{ behavior }}</h1>
       </div>
       <div class="col-md-2">
           <h4>Definition</h4>
           <div class="well" id="definition">
               mouse over <img height="20px" src="http://png.findicons.com/files/icons/2770/ios_7_icons/128/brain_filled.png"/> for definition
           </div>
           <a onclick="showModal()" href="#" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-question-sign"></span> About</a>
           <a href="{{ url_for('static',filename='behaviors_cnp.zip') }}" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-arrow-down"></span> Download</a> <a href="/cattell" class="btn btn-xs btn-default"><span class="glyphicon glyphicon-eye-open"></span> Cattell's</a>
       </div>
    </div>
</div>


<script>

// Tooltips
var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
        return "<strong>Example: </strong><span style='color:tomato'>" + d.example + "</span><br><strong>Lemmas: </strong><span style='color:yellow'>" + d.lemmanames + "</span><br><strong>LexName: </strong><span style='color:orange'>" + d.lexname + "</span><br><strong>Part of Speech: </strong><span style='color:cornflowerBlue'>" + d.pos + "</span><br><strong>Similar Words:</strong><span style='color:blue'> " + d.similartos + "</span>";
})


// D3

    var width = 800,
        height = 500

    var svg = d3.select("#trait").append("svg")
        .attr("width", width)
        .attr("height", height);

    // Call tooltips function
    svg.call(tip);
    
    var force = d3.layout.force()
        .gravity(.05)
        .distance(100)
        .charge(-100)
        .size([width, height]);

  var json = {{ prettyjson|safe }}

  // Check for undefined links
  json.links.forEach(function(link, index, list) {
      if (typeof json.nodes[link.source] === 'undefined') {
          console.log('undefined source', link);
      }
      if (typeof json.nodes[link.target] === 'undefined') {
          console.log('undefined target', link);
      }
  });

  force
      .nodes(json.nodes)
      .links(json.links)
      .start();

  var link = svg.selectAll(".link")
      .data(json.links)
    .enter().append("line")
      .attr("class", "link");

  var node = svg.selectAll(".node")
      .data(json.nodes)
    .enter().append("g")
      .attr("class", "node")
      .on("mouseover",function(d){
          if (d.definition!=""){
              $( "#definition" ).text(d.definition)
          }
          else {
              $( "#definition" ).text("undefined in WordNet")
          }
      })
      .on('mouseout.tip', tip.hide)
      .on('mouseover.tip', tip.show)
      .call(force.drag);

  node.append("image")
      .attr("xlink:href", "http://png.findicons.com/files/icons/2770/ios_7_icons/128/brain_filled.png")
      .attr("x", -8)
      .attr("y", -8)
      .attr("width", 16)
      .attr("height", 16);

  node.append("text")
      .attr("dx", 12)
      .attr("dy", ".35em")
      .text(function(d) { return d.name })
      .on("mouseover",function(d){
          if (d.definition!=""){
              $( "#definition" ).text("d.definition")
          } else {
              $( "#definition" ).text("undefined in WordNet")
          }
      })

  force.on("tick", function() {
    link.attr("x1", function(d) { return d.source.x; })
        .attr("y1", function(d) { return d.source.y; })
        .attr("x2", function(d) { return d.target.x; })
        .attr("y2", function(d) { return d.target.y; });

    node.attr("transform", function(d) { return "translate(" + d.x + "," + d.y + ")"; });
  });

// Select 2
//var termlist = $("#termlist").select2()
//$("#termlist").on("change", function(e) {
//    var theID = $(termlist).select2('data')[0].id;
//    jump("id" + theID)
//    var panel = $("#" + theID)
//    if (panel.hasClass("in")) {
//        panel.removeClass("in")
//    } else {
//        panel.addClass("in")
//    }
//})
//function jump(h){
//    var top = document.getElementById(h).screenY; 
//    document.getElementById(h).scrollTop += top;
//}

// Show or hide modal
function showModal() {
    document.getElementById('about_modal').style.display = 'block';
    document.getElementById('fade').style.display = 'block';
}
function hideModal() {
    document.getElementById('about_modal').style.display = 'none';
    document.getElementById('fade').style.display = 'none';
}
</script>

      <!--About modal-->
      <div id='about_modal' class='modal' data-backdrop='static' style='margin-top: 75px;'>
          <div class='modal-dialog'>
              <div class='modal-content'>
  <div class='modal-header'>
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="hideModal()">&times;</button>
      <h4 class="modal-title">About</h4>
  </div>
  <div class='modal-body'>
  <h4>What is this list?</h4>
  <p>The list on the left of behavioral traits are terms derived from questions in <a href="" target="_blank">a large assessment database</a>, along with <a href="/cattell">a set</a> from the psychologist William Cattell.</p>
  <h4>What are the small graphs?</h4>
  <p>Each graph represents a cluster of synonyms from a <a href="https://wordnet.princeton.edu/" target="_blank">lexical database</a>. A node can either be an alternate definition, or another word that, according to the database, means the same thing. In the case of the latter, a link is rendered between the nodes, and the length of this link represents how similar the terms are.</p>
  <h4>What's the point?</h4>
  <p>We want to derive relationships between behavioral trait terms in a data driven way, which means searching for a pair of terms in some text and using NLP to derive some kind of relationship. What happens if I am searching for "nervous," but a person is described as "anxious?" We would miss it, and so we need to have multiple representations for any given term. This expansion of terms is what this simple interface is showing. For example, if we look at <a href="/view/nervous">nervous</a> we see that there are five synonyms / alternate definitions (nodes), and when we mouse over each node, we find a total of 13 ways (nervous, aflutter, skittish, anxious, flightly, spooky, excited, queasy, uneasy, unquiet, troubled, tense, and neural) that we might describe a nervous person. Each of those terms is ascribed with a number that represents the similarity to the original term, so if we find them in some text, we can use this information when we derive our relationships.
  <h4>What comes next?</h4>
  <p>We will parse text, derive relationships, and generate a behavioral ontology that can be used to derive a <a href="http://www.github.com/vsoch/CogatPheno" target="_blank">Cognitive Phenotype.</a> Stay tuned!</p>
</div>
              </div>
          </div>
      </div><!-- close modal -->
</html>
